@charset "utf-8";

*{margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
body {color: #333;}

/* 모바일 */
.mobile {display: none;}
.mobile_menu{
    display: none;
}

/* header */
header{
    width: 100%;
    height: 100px;
    background-color: rgba(165, 90, 90, 0.445);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
header div{
    max-width: 1440px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div h1{
    line-height: 0;
    
}
header div a img {
    width: 200px;
}
header .pc_menu ul{
    display: flex;
}
header .pc_menu ul li a{
    padding: 0 20px;
    color: white;
}

/* .main_visual end */
.main_visual{
    height: 100vh;
    position: relative;
}

.main_visual img {
    /* 비율에 맞춰서 이미지 가득 채우기*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual div {
    color: rgb(69, 56, 255);
    mix-blend-mode: multiply;

    max-width: 1440px;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.main_visual div h2 {
    font-size: 50px;
    margin-bottom: 20px;
}
.main_visual div p {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
/* .cont01 */
.cont01{
    padding: 150px 0;

}
.cont01 .title{
    text-align: center;
    margin-bottom: 40px;
}
.cont01 .title h3{
    font-size: 40px;
}

.cont01 .list{
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* 밑으로 나열 시킬때 */
}
.cont01 .list div{
    width: 24%;
    height: 420px;
    background-color: orange;
    border-radius: 20px;
    overflow: hidden;
}
.cont01 .list div img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    transform: scale(3);
    mix-blend-mode: multiply;
    transition: 1s;
}
.cont01 .list div:hover img {
    transform: scale(1);
    mix-blend-mode: normal;
}
.cont01 .list div:hover p {
    display: block;
    margin-bottom: 10px;
}
.cont01 .list div a {
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.cont01 .list div a h4{
    width: 100%;
    font-size: 22px;
    margin-bottom: 15px;
    z-index: 9;
    color: white;
}
.cont01 .list div a p {
    display: none;
}
.cont01 .list div:hover h4 {
    color: #000;
}
footer{
    padding: 50px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

/* 중단점 1024px 이하일 때
pc 메뉴 사라지고 햄버거 아이콘 사용 */
@media screen and (max-width:1024px) {
    .mobile{display: block;}
    .pc_menu{display: none;}
    .mobile{
        display: block;
        font-size: 35px;
        color: white;
    }
    .mobile span {
        position:absolute;
        left:-999999999999px;
    }
    /* .cont01 */
    .cont01 {
        background-color: rgb(255, 240, 172);
    }
    .cont01 .list div{
        width: 48%;
        height: auto;
        /* 기존에 있는 420px의 고정값을 자식이 가지는 영역만큼
        자유롭게 지닐 수 있도록 설정 */
        margin-bottom: 40px;
        background-color: white;
    }
    .cont01 .list div img {
        transform: scale(1);
        height: 300px;
    }
    .cont01 .list div a {
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .cont01 .list div a h4{
        color: #333;
    }
    .cont01 .list div a p {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:640px) {
/* .main_visual */
.main_visual div h2{
    font-size: 32px;
}
.main_visual div p{
    font-size: 16px;
}
    /* .cont01 */
.cont01{
    padding: 80px 0;
}
.cont01 .list div {
    width: 100%;
}

/* 640px */


/* aside */
aside{
    position: fixed;
    bottom: 70px;
    right: 50px;
}
aside ul li {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin-top: 10px;
    box-shadow: 2px 3px 10px rgba(131, 113, 113, 0.788);
}
aside ul li a{
    display: block;
}

